/* styles.css */
* {
  font-family: 'Press Start 2P', cursive;
}

.board-square {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-color: black;
    border: solid;
}

.swipe-board {
    user-select: none;
}

.imgsize {
    width: 50%;
    height: 10%;
    margin-top: 0.8rem;
}

.user-input {
    display: inline-block;
}
